@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}
.body_color{
  background-color: #ECE7E1;
}
.my-svg {
  width: 30px; 
  height: 30px; 
}
.social{
  width: 30px; 
  height: 30px;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skills > div {
  margin-top: 1rem; /* Vous pouvez ajuster la valeur de la marge supérieure ici */
}

.skills img {
  width: 6rem; /* Taille de l'image */
  height: 6rem; /* Taille de l'image */
}

.skills p {
  margin-top: 0.5rem; /* Marge supérieure pour les paragraphes */
  margin-bottom: 0; /* Supprimer la marge inférieure par défaut */
}






